<h2 class="section-title"><%= t('users.edit.title') %></h2>

<div class="mypage-container">
  <%= form_with model: @user, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, t('activerecord.attributes.user.name') %>
      <%= f.text_field :name, class: "form-input #{'input-error' if @user.errors[:name].any?}" %>
      <% if @user.errors[:name].any? %>
        <div class="error-message"><%= @user.errors[:name].first %></div>
      <% end %>
    </div>

    <!-- プロフィール編集欄 -->
    <div class="form-group">
      <%= f.label :profile, t('activerecord.attributes.user.profile') %>
      <%= f.text_area :profile, rows: 4, class: "form-input #{'input-error' if @user.errors[:profile].any?}" %>
      <% if @user.errors[:profile].any? %>
        <div class="error-message"><%= @user.errors[:profile].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :email, t('activerecord.attributes.user.email') %>
      <%= f.email_field :email, class: "form-input #{'input-error' if @user.errors[:email].any?}" %>
      <% if @user.errors[:email].any? %>
        <div class="error-message"><%= @user.errors[:email].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :profile_image, t('activerecord.attributes.user.profile_image') %>
      <%= f.file_field :profile_image, class: "form-input #{'input-error' if @user.errors[:profile_image].any?}" %>
      <% if @user.errors[:profile_image].any? %>
        <div class="error-message"><%= @user.errors[:profile_image].first %></div>
      <% end %>
    </div>

    <%= f.submit t('users.edit.submit'), class: "edit-btn" %>
  <% end %>

  <div class="form-group">
    <%= link_to t('users.edit.password_reset_link'), new_password_reset_path %>
  </div>

  <%= link_to t('users.edit.back'), user_path(@user), class: "back-btn" %>
</div>
