<h2 class="section-title">
  <%= current_user == @user ? t('titles.mypage') : "#{@user.name} さんのページ" %>
</h2>

<div class="mypage-container">
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image, class: "profile-image" %>
  <% else %>
    <%= image_tag 'user_icon.png', class: "profile-image" %>
  <% end %>

  <div class="user-name">
    <%= @user.name || t('labels.guest') %>
  </div>

  <% if current_user == @user %>
    <%= link_to t('buttons.edit'), edit_user_path(@user), class: "edit-btn" %>
    <%= button_to t('buttons.logout'), logout_path, method: :delete, class: "logout-btn" %>
  <% end %>
</div>
