<div class="pagination">
  <% if @boards.prev_page %>
    <%= link_to '«', url_for(page: 1), class: 'page' %>
    <%= link_to '‹', url_for(page: @boards.prev_page), class: 'page' %>
  <% end %>

  <% (1..@boards.total_pages).each do |page| %>
    <%= link_to page, url_for(page: page), class: "page#{' current' if page == @boards.current_page}" %>
  <% end %>

  <% if @boards.next_page %>
    <%= link_to '›', url_for(page: @boards.next_page), class: 'page' %>
    <%= link_to '»', url_for(page: @boards.total_pages), class: 'page' %>
  <% end %>
</div>
