<h2 class="section-title"><%= t('titles.boards') %></h2>

<div class="board-grid">
  <% @boards.each do |board| %>
    <div class="board-card">
      <%= image_tag(board.image.attached? ? url_for(board.image) : 'noimage.png', alt: board.title, class: "board-thumbnail") %>
      <h3><%= link_to board.title, board_path(board) %></h3>

      <div class="board-author">
        <%= link_to user_path(board.user), class: "user-link" do %>
          <div class="user-info">
            <% if board.user.profile_image.attached? %>
              <%= image_tag board.user.profile_image, class: "user-icon" %>
            <% else %>
              <%= image_tag 'user_icon.png', class: "user-icon" %>
            <% end %>
            <span class="user-name"><%= board.user.name %></span>
          </div>
        <% end %>
      </div>

      <!-- ▼ここにブックマークボタンを追加 -->
      <div id="bookmark-button-<%= board.id %>" data-turbo-frame="bookmark-button-<%= board.id %>">
        <%= render partial: "boards/bookmark", locals: { board: board, current_user: current_user } %>
      </div>
      <!-- ▲ここまで -->

    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @boards %>
</div>
