<h2 class="section-title"><%= t('titles.boards') %></h2>

<div class="search-and-sort" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5em;">
  <div class="sort-tabs">
    <%= link_to t('boards.sort.new'), boards_path(sort: 'new', q: params[:q]), class: (@sort == 'new' ? 'active-sort' : '') %> |
    <%= link_to t('boards.sort.view'), boards_path(sort: 'view', q: params[:q]), class: (@sort == 'view' ? 'active-sort' : '') %>
  </div>
  <div class="board-search-form" style="position: relative;">
    <%= form_with url: boards_path, method: :get, local: true do %>
      <input
        type="text"
        name="q"
        value="<%= params[:q] %>"
        placeholder="<%= t('boards.search.placeholder') %>"
        autocomplete="off"
        id="board-search-input"
        class="custom-search-input"
      />
      <button type="submit" class="cute-search-btn">
        <i class="fa fa-search"></i> <%= t('boards.search.button') %>
      </button>
    <% end %>
    <ul
      id="autocomplete-list"
      style="position: absolute; background: white; border: 1px solid #ccc; z-index: 10; width: 100%; list-style: none; padding-left: 0;"
    ></ul>
  </div>
</div>

<% if params[:q].present? %>
  <div class="search-result-info" style="margin-bottom: 1em;">
    <%= t('boards.search.result', keyword: params[:q]) %>
  </div>
<% end %>

<div class="board-grid">
  <% @boards.each do |board| %>
    <div class="board-card">
      <%= image_tag(board.image.attached? ? url_for(board.image) : 'noimage.png', alt: board.title, class: "board-thumbnail") %>
      <h3><%= link_to board.title, board_path(board) %></h3>

      <div class="board-author">
        <%= link_to user_path(board.user), class: "user-link" do %>
          <div class="user-info">
            <% if board.user.profile_image.attached? %>
              <%= image_tag board.user.profile_image, class: "user-icon" %>
            <% else %>
              <%= image_tag 'user_icon.png', class: "user-icon" %>
            <% end %>
            <span class="user-name"><%= board.user.name %></span>
          </div>
        <% end %>
      </div>

      <!-- ▼ここにブックマークボタンを追加 -->
      <div id="bookmark-button-<%= board.id %>" data-turbo-frame="bookmark-button-<%= board.id %>">
        <%= render partial: "boards/bookmark", locals: { board: board, current_user: current_user } %>
      </div>
      <!-- ▲ここまで -->

    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @boards %>
</div>
