<h2 class="section-title"><%= t('titles.new_board') %></h2>

<div class="mypage-container">
  <%= form_with model: @board, url: boards_path, local: true, html: { multipart: true } do |f| %>
    <div class="form-group">
      <%= f.label :title, t('activerecord.attributes.board.title') %>
      <%= f.text_field :title, class: "form-input #{'input-error' if @board.errors[:title].any?}" %>
      <% if @board.errors[:title].any? %>
        <div class="error-message"><%= @board.errors[:title].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :content, t('activerecord.attributes.board.content') %>
      <%= f.text_area :content, class: "form-input #{'input-error' if @board.errors[:content].any?}" %>
      <% if @board.errors[:content].any? %>
        <div class="error-message"><%= @board.errors[:content].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :image, t('activerecord.attributes.board.thumbnail_url') %>
      <%= f.file_field :image, class: "form-input #{'input-error' if @board.errors[:image].any?}" %>
      <% if @board.errors[:image].any? %>
        <div class="error-message"><%= @board.errors[:image].first %></div>
      <% end %>
    </div>

    <!-- ▼アンケート（任意）ここから追加 -->
    <fieldset>
      <legend><%= t('boards.poll.legend') %></legend>
      <div class="form-group">
        <%= f.fields_for :poll do |pf| %>
          <%= pf.label :question, t('boards.poll.question') %>
          <%= pf.text_field :question, class: "form-input #{'input-error' if pf.object.question.present? && (@board.poll.errors[:question].any? || @board.poll.errors[:base].any?) }" %>

          <% if pf.object.question.present? && @board.poll.errors[:question].any? %>
            <div class="error-message"><%= @board.poll.errors[:question].first %></div>
          <% end %>
          <div id="poll-options">
            <% pf.object.poll_options.each_with_index do |option, i| %>
              <div class="poll-option-fields">
                <label><%= t('boards.poll.option') %></label>
                <input type="text"
                      name="board[poll_attributes][poll_options_attributes][<%= i %>][content]"
                      value="<%= option.content %>"
                      class="form-input" />
                <button type="button" class="delete-option-btn"><%= t('buttons.delete_option') %></button>
              </div>
            <% end %>
          </div>
          <button type="button" id="add-option-btn"><%= t('buttons.add_option') %></button>
        <% end %>
      </div>
    </fieldset>
    <%= render "poll_option_fields" %>
    <!-- ▲アンケートここまで -->

    <%= f.submit t('buttons.submit_post'), class: "edit-btn" %>
  <% end %>

  <%= link_to t('buttons.back'), root_path, class: "back-btn" %>
</div>