<div class="board-detail">
  <%= image_tag @board.image.attached? ? url_for(@board.image) : 'noimage.png', class: "board-image" %>

  <div class="board-author">
    <%= link_to user_path(@board.user), class: "user-link" do %>
      <div class="user-info">
        <% if @board.user.profile_image.attached? %>
          <%= image_tag @board.user.profile_image, class: "user-icon" %>
        <% else %>
          <%= image_tag 'user_icon.png', class: "user-icon" %>
        <% end %>
        <span class="user-name"><%= @board.user.name %></span>
      </div>
    <% end %>
  </div>

  <h2 class="section-title board-title"><%= @board.title %></h2>

  <!-- ▼ここにブックマークボタンを追加 -->
  <div id="bookmark-button-<%= @board.id %>" data-turbo-frame="bookmark-button-<%= @board.id %>">
    <%= render partial: "boards/bookmark", locals: { board: @board, current_user: current_user } %>
  </div>
  <!-- ▲ここまで -->

  <div class="board-content">
    <p><%= simple_format(@board.content) %></p>
  </div>

  <% if current_user == @board.user %>
    <div class="button-group">
      <%= link_to t('buttons.edit'), edit_board_path(@board), class: "edit-btn" %>
    </div>
  <% end %>
</div>

<h2 class="comment-title"><%= t('titles.comments') %></h2>
<div id="comments">
  <%= render @comments %>
</div>

<%= render partial: 'comments/form', locals: { board: @board, comment: Comment.new } %>
