<!DOCTYPE html>
<html>
<head>
  <title>何切るドットコム</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <header class="site-header">
    <div class="container header-container">
      <div class="title">
        <h1><%= link_to "何切るドットコム", root_path, class: "site-title-link" %></h1>
      </div>
      <div class="auth-buttons">
        <%= button_to "新規登録", new_user_path, method: :get, class: "signup-btn" %>
        <%= button_to "ログイン", login_path, method: :get, class: "login-btn" %>
      </div>
    </div>
  </header>

  <main class="site-main">
    <div class="container">
      <%= yield %>
    </div>
  </main>

  <footer class="site-footer">
    <div class="container footer-container">
      <h2>何切るドットコム</h2>
      <p id="footer-text">ここに任意の文字を入れられます。</p>
    </div>
  </footer>
</body>
</html>
